.container {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #252a34;
}

#logo {
  text-decoration: none;
  color: #08d9d6;
}



.logout-container {

}