
@media screen and (max-width: 600px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: 100%;
    background-color: #08d9d6;
  }

  .login-container > form > input {
    padding: 15px 30px;
    background-color: #eaeaea;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
  }
  
  #login-button {
    background-color: #ff2e63;
    padding: 15px 15px;
    border-radius: 8px;
  }





}